<ion-header>
    <ion-toolbar>
      <ion-title>Notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <!-- <ion-button expand="block">
      Toggle Infinite Scroll
    </ion-button> -->
  
    <ion-list></ion-list>
  
    <ion-infinite-scroll threshold="100px" >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data...">
  
        <ion-list>
          
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/farmer5.png' />
            </ion-avatar>
            <ion-label>
              <h2>Shashi Kumar</h2>
              <p><b>Accepted</b> your job request for Seasonal Farm Laborer</p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-label>
              <h2>Sharanabasappa</h2>
              <p>Payment of ₹500 was successful on 15-Aug-2021</p>
              </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/PF.png' />
            </ion-avatar>
            <ion-label>
              <h2>New User</h2>
              <p>Your contact M. Ravi joined Farm-Easy </p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/farmer1.png' />
            </ion-avatar>
            <ion-label>
              <h2>Babulal Dahiya</h2>
              <p>Posted a <b>new job requirement</b> nearby.</p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
          
          <ion-item>
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-label>
              <h2>Your Crop Loan</h2>
              <p>Status changed from <b>Applied</b> to <b>Processing</b></p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/farmer2.png' />
            </ion-avatar>
            <ion-label>
              <h2>Rudresh Swamy</h2>
              <p>Posted a <b>new job requirement</b> nearby.</p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/farmer3.png' />
            </ion-avatar>
            <ion-label>
              <h2>Garima Rani</h2>
              <p>Posted a <b>new job requirement</b> nearby.</p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-label>
              <h2>Ashok Kumar</h2>
              <p>Payment of ₹1500 was successful on 20-Aug-2021</p>
              </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-icon slot="start" name="cafe"></ion-icon>
            <ion-label>
              <h2>When you were away</h2>
              <p>New content in <b>News tab</b> and <b>Jobs tab</b></p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/PF.png' />
            </ion-avatar>
            <ion-label>
              <h2>New User</h2>
              <p>Your contact Kavya joined Farm-Easy </p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
          <ion-item>
            <ion-avatar slot="start">
              <img src='assets/icon/images/farmer4.png' />
            </ion-avatar>
            <ion-label>
              <h2>Shiva</h2>
              <p>Posted a <b>new job requirement</b> nearby.</p>
            </ion-label><ion-icon name="eye"></ion-icon>
          </ion-item>
  
  
  
  
        </ion-list>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>